<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-12">
      <div class="bg-light rounded h-100 p-4">
        <h4 class="mb-4">Xếp hạng các lớp</h4>
        <h5 class="mb-4"><%= link_to('<<', dashboard_path(monday: @current_monday - 7.days))%> Tuần <%= @current_monday.strftime('%d/%m')%> - <%= (@current_monday + 5.days).strftime('%d/%m/%Y')%> <%= link_to('>>', dashboard_path(monday: @current_monday + 7.days))%></h5>
        <table class="table">
          <thead>
              <tr>
                  <th scope="col">Xếp hạng</th>
                  <th scope="col">Lớp</th>
                  <th scope="col">Sĩ Số</th>
                  <th scope="col">Vệ Sinh</th>
                  <th scope="col">Trang Phục</th>
                  <th scope="col">Hoạt Động Ngoài Giờ</th>
                  <th scope="col">Tổng Điểm</th>
                  <th scope="col">Thao Tác</th>
              </tr>
          </thead>
          <tbody>
            <% @rankings.each_with_index do |rk, index|%>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= rk[0] %></td>
                <td><%= rk[1] %></td>
                <td><%= rk[2] %></td>
                <td><%= rk[3] %></td>
                <td><%= rk[4] %></td>
                <td><%= rk[5] %></td>
                <td>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detail_modal_<%= rk[6] %>">
                    Chi tiết
                  </button>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% @rankings.each do |rk| %>
  <%= render 'detail_modal', klass_id: rk[6], klass_name: rk[0] %>
<% end %>