<div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <%= image_tag "user.png", class: "rounded-circle", style: "width: 40px; height: 40px;" %>
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0"><%= current_user.name %></h6>
                        <span><%= current_user.role_to_s %></span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                  <% if current_user.mod? %>
                    <%= link_to dashboard_path, class: "nav-item nav-link #{request.path.include?('dashboard') ? 'active' : ''}" do %>
                      <i class="fa fa-tachometer-alt me-2"> Tổng kết
                    <% end %>
                  <% end %>
                  <%= link_to scoring_records_path, class: "nav-item nav-link #{request.path.include?('scoring_record') ? 'active' : ''}" do %>
                    <i class="fa fa-table me-2"></i><span><%= current_user.assessor? ? 'Chấm điểm' : 'Bảng điểm'%></span>
                  <% end %>
                </div>
            </nav>
        </div>