<div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <div class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                              <%= image_tag "user.png", class: "rounded-circle me-lg-2", style: "width: 40px; height: 40px;" %>
                              <span class="d-none d-lg-inline-flex"><%= current_user.name %></span>
                          </a>
                          <div class="ms-3">
                            <span><%= current_user.role_to_s %></span>
                          </div>
                          <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                              <a href="#" class="dropdown-item">Thông tin cá nhân</a>
                              <a href="#" class="dropdown-item">Cài đặt</a>
                              <%= link_to 'Đăng Xuất', destroy_user_session_path, method: :delete, class: 'dropdown-item'%>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                  <% if current_user.mod? %>
                    <%= link_to dashboard_path, class: "nav-item nav-link #{request.path.include?('dashboard') ? 'active' : ''}" do %>
                      <i class="fa fa-tachometer-alt me-2"></i> Tổng kết
                    <% end %>
                  <% end %>
                  <%= link_to scoring_records_path, class: "nav-item nav-link #{request.path.include?('scoring_record') ? 'active' : ''}" do %>
                    <i class="fa fa-table me-2"></i><span><%= current_user.assessor? ? 'Chấm điểm' : 'Bảng điểm'%></span>
                  <% end %>
                </div>
            </nav>
        </div>