<div class="bg-light rounded h-100 p-4">
  <h3 class="mb-4">Chấm điểm</h3>
    <% if @scoring_record.errors.any? %>
      <div>Không thể lưu do các lỗi sau:</div>
      <ul>
      <% @scoring_record.errors.full_messages.each do |msg|%>
        <li class='warning><%= msg %></li>
      <% end %>
      </ul>
    <% end %>
    <%= form_for @scoring_record, class: 'form', remote: true do |f|%>
      <div class="mb-3">
        <%= f.label :assessment_date, 'Ngày chấm điểm:'%>
        <%= f.date_field :assessment_date, value: @scoring_record.assessment_date || Date.today, class: 'form-control'%>
      </div>

      <div class="mb-3">
        <%= f.label :klass_id, 'Lớp:'%>
        <%= f.select :klass_id, options_for_select(Klass.all.pluck(:name, :id)), class: 'form-select' %>
      </div>

      <div class="mb-3">
        <%= f.label :attendees, 'Chuyên cần:'%>
        <%= f.number_field :attendees, class: 'form-control', required: true, min: 0, max: 25 %>
        <div class="form-text">Sĩ số lớp: <span id="autoload_attendees"></span></div>
      </div>

      <div class="mb-3">
        <%= f.label :cleaness, 'Vệ sinh:'%>
        <%= f.number_field :cleaness, class: 'form-control', required: true, min: 0, max: 25 %>
      </div>

      <div class="mb-3">
        <%= f.label :clothing, 'Trang phục:'%>
        <%= f.number_field :clothing, class: 'form-control', required: true, min: 0, max: 25 %>
      </div>

      <div class="mb-3">
        <%= f.label :outdoor_act, 'Hoạt động ngoài giờ:'%>
        <%= f.number_field :outdoor_act, class: 'form-control', required: true, min: 0, max: 25 %>
      </div>

      <div class="mb-3">
        <%= f.label :note, 'Ghi Chú:'%>
        <%= f.text_area :note, value: @scoring_record.note || "Sĩ Số: \n Vệ Sinh: \n Trang Phục: \n Hoạt động ngoài giờ: ", class: 'form-control' %>
      </div>

      <%= f.button "Lưu", type: :submit, class: 'btn btn-primary'%>
    <% end %>
</div>
